p{
  font-family: Roboto;
}

body{
  background-color: rgb(1, 8, 35);
  padding-bottom: 500px;
}

.privacy-paragraph{
  margin-top: 70px;
  width: 1100px;
  margin-left: 50px;
  line-height: 30px;
  font-weight: 400;
  font-family: Roboto;
 color: rgb(240, 234, 234);
  
}

.headings{
  width: 1300px;
  background-color: rgb(35, 66, 116);
  border-radius: 50px;
  border-style: solid;
  padding-left: 60px;
  padding-right:60px;
  padding: 20px;
  padding-bottom: 20px;
  border-color: rgb(7, 54, 114);
  border-width: 20px;
  margin-left: 32px;

}

.privacy-heading{
color: rgb(240, 234, 234);
  margin-left:480px;
  font-size: 50px;
}

.privacy-sub-heading{
  color: rgb(225, 224, 224);
  margin-top: 20px;
  line-height: 140%;
}

.privacy-policy{
 background-color: rgb(35, 66, 116);
  border-style: solid;
  border-radius: 50px;
  border-style: solid;
  width: 1300px;
  padding-bottom: 20px;
  margin-left: 200px;
  border-color: rgb(7, 54, 114);
  border-width: 20px;
  margin-top: 50px;

}

.home-button{
  width: 100px;
  margin-bottom: 300px;
}

.home-logo{
  width:100px;
}

.header-section{
  display: flex;
  align-items: center; /* vertically aligns logo + text */
  gap: 50px;           /* space between logo and text */
  margin-top: 20px;
}